@using System.Threading.Tasks
@using AFIAT.TST.Web.Public.Startup
@using Abp.AspNetZeroCore.Timing
@using Abp.Web.Security.AntiForgery
@using AFIAT.TST.Timing
@using AFIAT.TST.Web.Public.Views.Shared.Components.Header
@using CultureHelper = AFIAT.TST.Localization.CultureHelper
@inject AppTimes AppTimes
@inject IAbpAntiForgeryManager AbpAntiForgeryManager
@{
    Layout = null;
    AbpAntiForgeryManager.SetCookie(Context);
    ViewBag.CurrentPageName = FrontEndPageNames.Register;

}
<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="utf-8">
    <title>@ViewBag.CurrentPageName</title>

    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    @* Fill these meta tags upon your project specification *@
    <meta content="TST" name="description">
    <meta content="TST" name="keywords">
    <meta content="TST" name="author">
    @* You can enable and fill these lines according to documentation on http://ogp.me/
        <meta property="og:site_name" content="-CUSTOMER VALUE-">
        <meta property="og:title" content="-CUSTOMER VALUE-">
        <meta property="og:description" content="-CUSTOMER VALUE-">
        <meta property="og:type" content="website">
        <meta property="og:image" content="-CUSTOMER VALUE-">
        <meta property="og:url" content="-CUSTOMER VALUE-">*@

    <link rel="shortcut icon" href="~/favicon.png">

    <link rel="stylesheet" href="/styles/js/app.css" asp-append-version="true" />
    <link rel="stylesheet" href="/styles/js/main.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.7.1/css/all.min.css" integrity="sha512-3M00D/rn8n+2ZVXBO9Hib0GKNpkm8MSUU/e2VNthDyBYxKWG+BftNYYcuEjXlyrSO637tidzMBXfE7sQm0INUg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/gh/rastikerdar/vazir-font@v30.1.0/dist/font-face.css" rel="stylesheet" type="text/css" />



    <script type="text/javascript">
        @* This is used to get the application's root path from javascript.
            It's useful if you're running application in a virtual directory under IIS. *@
        var abp = abp || {}; abp.appPath = '@ApplicationPath';
    </script>

</head>
<body class="corporate">

    <section class="hero is-primary is-fullheight">
        <div class="hero-body">
            <div class="container">
                <div class="columns is-centered">
                    <div class="column is-5-tablet is-5-desktop is-4-widescreen">
                        <form action="" class="box">
                            <div class="field">
                                <label for="" class="label">ایمیل</label>
                                <div class="control has-icons-left">
                                    <input type="text" placeholder="e.g. bobsmith@gmail.com" class="input" required>
                                    <span class="icon is-small is-left">
                                        <i class="fa fa-envelope"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="field">
                                <label for="" class="label">کلمه عبور</label>
                                <div class="control has-icons-left">
                                    <input type="password" placeholder="*******" class="input" required>
                                    <span class="icon is-small is-left">
                                        <i class="fa fa-lock"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="field">
                                <button class="button is-success is-fullwidth">
                                    ارسال
                                </button>
                            </div>
                            <hr />
                            <a href="/account/login">
                                ورود به حساب
                            </a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="/view-resources/Views/_Bundles/frontend-libs.min.js" asp-append-version="true"></script>
    <script src="/styles/js/bundle.js" asp-append-version="true"></script>
    <script type="text/javascript">
        abp.localization.defaultSourceName = '@LocalizationSourceName';
        abp.security.antiForgery.tokenCookieName = "Public-XSRF-TOKEN";
        abp.security.antiForgery.tokenHeaderName = "Public-X-XSRF-TOKEN";
    </script>



    <script type="text/javascript">
        $(function () {
            Layout.init();
        });
    </script>


</body>

</html>