@model Abp.Application.Services.Dto.PagedResultDto<AFIAT.TST.Pages.Dtos.GetItemForViewDto>
@using AFIAT.TST.Web.Public.Startup
@{
    ViewBag.CurrentPageName = FrontEndPageNames.Home;
}

<div class="hero is-medium is-light is-center">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-centered is-vcentered mt-6">
                <div class="column is-7">
                    <div class="field has-addons has-icons-right">
                        <div class="control is-expanded">
                            <input class="input" type="text" placeholder="جستجوی مطلب جدید">
                        </div>
                        <div class="control">
                            <a class="button is-info">
                                <span class="icon is-small is-left">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search">
                                        <circle cx="11" cy="11" r="8"></circle>
                                        <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
                                    </svg>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Features-->
<div class="section">
    <div class="container">
        @foreach (var item in Model.Items)
        {
            <div class="py-6 small:mb-10">
                <div class="columns is-vcentered b-centered-tablet-p">
                    <div class="column is-6">
                        <img class="max-w-4 mx-auto is-block" src="/styles/img/illustrations/feature-1.svg" alt="">
                    </div>

                    <div class="column is-5">
                        <h3 class="title is-4 is-narrow">@item.Item.Title</h3>
                        <p class="py-2 max-w-4 text-medium b-centered-tablet-p">@item.Item.Description</p>
                    </div>
                </div>
            </div>
        }


        @*<div class="py-6 small:mb-10">
            <div class="columns is-vcentered b-centered-tablet-p">
                <div class="column is-6 is-hidden-desktop">
                    <img class="max-w-4 mx-auto is-block" src="/styles/img/illustrations/feature-2.svg" alt="">
                </div>
                <div class="column is-5 is-offset-1">
                    <h3 class="title is-4 is-narrow">گوگل</h3>
                    <p class="py-2 max-w-4 text-medium b-centered-tablet-p">سیب سیب سیب قفغعحخ جقخ نومکی ئضصثصضحث مچجح </p>
                    <div class="is-flex is-align-items-center py-1 is-hidden-mobile">
                        <div class="is-32x32 is-flex is-justify-content-center is-align-items-center is-circle bg-grey">
                            <ion-icon name="checkmark-circle-outline" class="rem-125"></ion-icon>
                        </div>
                        <div class="ml-2">
                            <p class="small:max-w-2 text-light">Lorem ipsum dolor sit amet.</p>
                        </div>
                    </div>
                    <div class="is-flex is-align-items-center py-1 is-hidden-mobile">
                        <div class="is-32x32 is-flex is-justify-content-center is-align-items-center is-circle bg-grey">
                            <ion-icon name="checkmark-circle-outline" class="rem-125"></ion-icon>
                        </div>
                        <div class="ml-2">
                            <p class="small:max-w-2 text-light">Lorem ipsum dolor sit amet.</p>
                        </div>
                    </div>
                    <div class="is-flex is-align-items-center py-1 is-hidden-mobile">
                        <div class="is-32x32 is-flex is-justify-content-center is-align-items-center is-circle bg-grey">
                            <ion-icon name="checkmark-circle-outline" class="rem-125"></ion-icon>
                        </div>
                        <div class="ml-2">
                            <p class="small:max-w-2 text-light">Lorem ipsum dolor sit amet.</p>
                        </div>
                    </div>
                </div>
                <div class="column is-6 is-hidden-mobile">
                    <img class="max-w-4 mx-auto is-block" src="/styles/img/illustrations/feature-2.svg" alt="">
                </div>
            </div>
        </div>

        <div class="py-6">
            <div class="columns is-vcentered b-centered-tablet-p">
                <div class="column is-6">
                    <img class="max-w-4 mx-auto is-block" src="/styles/img/illustrations/feature-3.gif" alt="">
                </div>

                <div class="column is-5">
                    <h3 class="title is-4 is-narrow">فتوشاپ</h3>
                    <p class="py-2 max-w-4 text-medium b-centered-tablet-p">عه منبسی نب ثصحهخقئریستبادذلهسش  حجثص قبمصثق ثصق</p>
                </div>
            </div>
        </div>*@

    </div>
</div>
